* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fit-card {
  object-fit: contain;
  height: 300px;
}

.fit-detail {
  object-fit: contain;
  height: 400px;
}

.product {
  height: 100%;
}
