* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  font-size: 14px;
  overflow-y: overlay;
  position: relative;
  height: 100%;
}

main {
  min-height: 105vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 170px;
}

.title-heading {
  display: flex;
  align-items: center;
}

.page-header {
  font-family: "Radiance";
  font-size: 20px;
  letter-spacing: 0.5rem;
}

.footer-header {
  font-family: "Radiance";
  font-size: 20px;
  letter-spacing: 0.3rem;
}

.footer-sub {
  font-family: "Radiance";
  letter-spacing: 0.1rem;
}

#image {
  width: 50px;
  height: 50px;
}

.cart {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.fit {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.carousel-inner {
  height: 70vh;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.slide-1 {
  height: 100%;
  background-image: url("./images/slide1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-2 {
  height: 100%;
  background-image: url("./images/slide2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-3 {
  height: 100%;
  background-image: url("./images/slide3.jpeg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.carousel-text {
  font-family: "Radiance";
  font-size: 16px;
}

.carousel-text > h5 {
  margin-bottom: 10px;
}
.product {
  height: 100%;
  transition: all 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px -7px #1c1c1c;
}

.pointer {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.footer-logo {
  width: 100px;
  position: relative;
  top: 12px;
}

.footer-text {
  text-align: center;
}

.footer-text > * {
  margin-bottom: 0;
}

.enter-modal,
.add-modal,
.remove-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
}

.modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-text {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.fade-in {
  animation: fade-in 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}

.slide-in {
  animation: slide-in 0.5s;
}

.slide-out {
  animation: slide-out 0.5s;
}

.remove-item {
  font-size: 16px;
}

.red {
  color: red;
}

.dark {
  background-color: #222222;
}

.close-button {
  position: absolute;
  font-size: 25px;
  right: 6px;
}

.details-text > :not(:last-child),
.card-text-section > :not(:last-child),
.cart-item-text > :not(:last-child) {
  margin-bottom: 16px;
}

button {
  font-size: 14px !important;
}

.submit-row p {
  margin: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-product {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .add-body > :first-child {
    margin-bottom: 8px !important;
  }

  .fit {
    object-fit: contain;
    width: 100%;
    height: 200px;
  }

  .remove-image {
    object-fit: contain;
    width: 100%;
    height: 150px;
  }
}
