* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.fit {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.product {
  height: 100%;
  transition: all .3s;
}

.product:hover {
  transform: translateY(-7px);
  box-shadow: 0 5px 10px -7px #1c1c1c;
}

.pointer {
  cursor: pointer;
}

.enter-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
  animation: fade-in 0.5s;
}

.modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal-body,
.modal-header {
  text-align: center;
}
